@{
    ViewData["Title"] = "Log In";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using DebatePlatform.ViewModels

@model LoginViewModel

<h2>Log in with your account</h2>
<hr />
<div class="white-page">
    @using (Html.BeginForm())
    {
        <label>Email </label>
        @Html.TextBoxFor(m => m.Email)

        <label>&nbsp;&nbsp; Password </label>
        @Html.PasswordFor(m => m.Password)
        <br />
        <br />
        <button type="submit">Log in</button>
    }
</div>