@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using DebatePlatform.ViewModels

@model RegisterViewModel

<h2>Register an account:</h2>
<hr />
<div class="white-page">
    @using (Html.BeginForm())
    {
        <label>Email </label>
        @Html.TextBoxFor(m => m.Email)
        <br />
        <br />
        <label>Password </label>
        @Html.PasswordFor(m => m.Password)
        <br />
        <br />
        <label>Confirm Password </label>
        @Html.PasswordFor(m => m.ConfirmPassword)
        <br />
        <br />
        <button type="submit">Register</button>
    }
</div>