@{
    ViewData["Title"] = "Debatrix";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Welcome to the Debatrix!</h2>
<a href="/Arguments">View Debates</a>
<a href="/Users/Profile/1">Profile</a>
<p><strong>Note:</strong> User Login is incomplete. Further work will be done next week. Until login is working, clicking "Profile" will generate a dummy account for you. Please do this <strong>FIRST</strong> as the app will crash when you try to make a new post if no profile is available.</p>