@{
    ViewData["Title"] = "Debatrix";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="home-page" class="white-page">
    <h2>Welcome to the Debatrix!</h2>
    <img src="http://images.clipartpanda.com/debate-clipart-Debate_LogoBlk1600wFlipped.png"/>
    <a href="/Arguments"> - Debates - &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
    <a href="/Accounts"> - Profile - </a>
</div>