body {
    background-color: lightyellow;
    font-family: Arial, Helvetica, sans-serif;
}
button {
    background-color: white;
    font-size: inherit;
    color: darkblue;
    border: 2px solid darkblue;
    border-radius: 20px;
    padding: 5px;
}
button:hover {
    background-color: darkblue;
    color: white;
    cursor: pointer;
}
a {
    color: darkblue;
    text-decoration: none;
}
a:hover {
    color: blue;
}
hr {
    border-width: 2px;
    border-style: dashed;
}
h1 {
    text-align: center;
    display: block;
    margin: auto;
    border: 3px solid darkblue;
    width: 300px;
    border-radius: 30px;
    background-color: white;
}
textarea {
    max-width: 250px;
    min-width: 250px;
    max-height: 125px;
    min-height: 125px;
}
li {
    margin-bottom: 10px;
}
.hidden {
    display: none;
}
.white-page {
    background-color: white;
    padding: 20px;
    border: 2px solid black;
    border-radius: 20px;
    max-width: 800px;
    display: block;
    margin: auto;
}
.inline h2,.inline form {
    display: inline;
}
.inline form {
    float: right;
}
#home-page {
    text-align: center;
    padding-top: 10px;
}
#home-page img {
    max-width: 80%;
    display: block;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 30px;
}
#argument-list h2 {
    margin-top: 0px;
}
.white-page form, #edit-reason {
    text-align: center;
}
.outer-container {
    width:100%; 
    float:left;
}
.outer-container:hover, .argument:hover {
    cursor: grab;
    cursor: -webkit-grab;
}
.outer-container:active, .argument:active {
    cursor: grabbing;
    cursor: -webkit-grabbing;
}
.inner-container {
    min-height:100px; 
    float:left;
}
.connector-container {
    display:block; 
    margin:auto;
}
.connector {
    border-right:2px solid black; 
    width:50%; 
    height:30px;
}
.argument-container {
    padding-left: 7px;
    padding-right: 7px;
}
.argument {
    background-color: white;
    padding:10px; 
    padding-bottom: 35px;
    border-radius:20px;
    display:block; 
    margin:auto; 
    border:2px solid;
    box-shadow: inset 0 0 10px gray;
}
.float-right {
    float: right;
    margin-left: 7px;
}
.aff {
    background-color: lightgreen;
    border-color: darkgreen;
    box-shadow: inset 0 0 10px darkgreen;
}
.neg {
    background-color: lightcoral;
    border-color: darkred;
    box-shadow: inset 0 0 10px darkred;
}
.aff .arg-text {
    background-color: #d2ffca;
}
.neg .arg-text {
    background-color: #ffd2ca;
}
.argument .arg-text {
    margin: 0px;
    margin-bottom: 10px;
    margin-top: 35px;
    padding: 8px;
}
.float-left {
    float: left;
}
.argument p, .argument h4 {
    float: left;
    margin: 0px;
    padding-left: 5px;
    padding-right: 5px;
    border: 1px solid;
    border-radius: 20px;
}
.argument a,.argument button {
    background-color: none;
    border: 1px inset;
    text-decoration: none;
    color: black;
    border-radius: 20px;
    padding: 3px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 14px;
    background-color: lightgray;
    box-shadow: 0px 0px 8px gray;
}
.argument a:visited {
    border: 1px inset white;
}
.aff a, .aff button {
    box-shadow: 0px 0px 8px darkgreen;
}
.neg a, .neg button {
    box-shadow: 0px 0px 8px darkred;
}
.argument a:hover, .argument button:hover {
    background-color: #e0e0e0;
    cursor: pointer;
}