.outer-container {
    width:100%; 
    float:left;
}
.inner-container {
    min-height:100px; 
    float:left;
}
.connector-container {
    display:block; 
    margin:auto;
}
.connector {
    border-right:2px solid blue; 
    width:50%; 
    height:30px;
}
.argument-container {
    padding-left: 7px;
    padding-right: 7px;
}
.argument {
    padding:10px; 
    border-radius:20px;
    display:block; 
    margin:auto; 
    border:2px solid
}
.aff {
    background-color: lightgreen;
    border-color: darkgreen;
}
.neg {
    background-color: lightcoral;
    border-color: darkred;
}
