@model int

@{
    ViewData["Title"] = "Debatrix - Edit Argument";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="white-page">
    <div id="buttons">
        <button id="DPLA-button">Search DPLA</button>
        <button id="create-button">Custom Citation</button>
    </div>
    @using (Html.BeginForm())
    {
        <div id="citation-fields" class="hidden">
            <label>Format</label><br />
            <input id="format" name="format" type="text" />
            <br />
            <br />
            <label>Title</label><br />
            <input id="title" name="title" type="text" />
            <br />
            <br />
            <label>Description</label><br />
            <input id="description" name="description" type="text" />
            <br />
            <br />
            <label>Creator</label><br />
            <input id="creator" name="creator" type="text" />
            <br />
            <br />
            <label>Institution</label><br />
            <input id="institution" name="institution" type="text" />
            <br />
            <br />
            <label>Date</label><br />
            <input id="date" name="date" type="text" />
            <br />
            <br />
            <label>URL</label><br />
            <input id="url" name="url" type="text" />
            <br />
            <br />
        </div>
        <div id="citation-search" class="hidden">
            <label>Search Term</label>
            <input id="term" type="text" />
            <input id="page" type="number" class="hidden" value="1"/>
            <button type="button" id="search-button">Search</button>
            <div id="search-results"></div>
        </div>

        <div id="edit-reason" class="hidden">
            <input name="argumentId" type="number" class="hidden" value="@Model" />
            <label>Explain this citation:</label><br />
            <textarea id="text" name="text" maxlength="255"></textarea>
            <br />
            <button type="submit">Save</button>
        </div>
    }
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script type="text/javascript">
    $(document).keypress(function (event) {
        if (event.which == '13') {
            event.preventDefault();
        }
    });
    $("#buttons").click(function () {
        $("#buttons").addClass("hidden");
    });
    $("#create-button").click(function () {
        $("#citation-fields").removeClass("hidden");
        $("#edit-reason").removeClass("hidden");
    });
    $("#DPLA-button").click(function () {
        $("#citation-search").removeClass("hidden");
    });

    var skipNulls = function (json, key) {
        return json[key] == null ? "No "+key : json[key];
    }
    var turnPage = function (inc) {
        var term = $("#term").val();
        var page = parseInt($("#page").val()) + inc;
        $("#page").val(page);
        ajaxDPLA(term, page);
    }
    var ajaxDPLA = function(term, page) {
        $.ajax({
            url: '@Url.Action("SearchDPLA")',
            type: "GET",
            data: { term: term, page: page },
            success: function (result) {
                console.log(result);
                $("#search-results").empty();
                $("#search-results").append(
                    (page == 1 ? "" : "<button id='prev-page-button'b type='button'>Previous</button>") +
                    (result.length < 10 ? "" : "<button id='next-page-button' type='button'>Next</button>")
                );
                for (var i = 0; i < result.length; i++) {
                    $("#search-results").append(
                        "<div class='citation-search'>" +
                            "<p>" + skipNulls(result[i],"format") + "</p>" +
                            "<a href='" + skipNulls(result[i], "url") + "'><h4>" + skipNulls(result[i], "title") + "</h4></a>" +
                            "<h5>" + skipNulls(result[i],"creator") + " - " + skipNulls(result[i],"institution") + " - " + skipNulls(result[i],"date") + "</h5>" +
                            "<p>" + skipNulls(result[i],"description") + "</p>" +
                            "<br><button id='"+i+"' class='select-citation' type='button'>Select</button>"+
                        "</div>"
                    );
                }
                $("#next-page-button").click(function () { turnPage(1) });
                $("#prev-page-button").click(function () { turnPage(-1) });
                $(".select-citation").click(function () {
                    var doc = result[this.id];
                    var keys = Object.keys(doc);
                    for (var j = 0; j < keys.length; j++) {
                        $("#" + keys[j]).val(doc[keys[j]]);
                    }
                    $("#citation-search").addClass("hidden");
                    $("#edit-reason").removeClass("hidden");
                });
            }
        });
    }
    $("#search-button").click(function () {
        var term = $("#term").val();
        $("#page").val(1);
        ajaxDPLA(term, 1);
    });
    
</script>