@model DebatePlatform.Models.Argument

@{
    ViewData["Title"] = "Debatrix - Edit Argument";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="white-page">
    @using (Html.BeginForm())
    {
        @Html.Hidden("id", Model.ArgumentId)
        @if (Model.ParentId != 0)
        {
            <label>Support</label>
            <input name="affirmative" type="radio" value="True" checked="checked">
            <label>&nbsp;&nbsp; Oppose</label>
            <input name="affirmative" type="radio" value="False">
            <br />
            <br />
        }
        else
        {
            @Html.Hidden("affirmative", "True")
        }
        <label>Your Argument</label><br />
        <textarea id="text" name="text" maxlength="255">@Model.Text</textarea>
        <br />
        <button type="submit">Save</button>
        <br />
        <br />
    }
    @if (ViewBag.CanDelete)
    {
        @using (Html.BeginForm("Delete", "Arguments", FormMethod.Post))
        {
            @Html.Hidden("id", Model.ArgumentId)
            <button type="submit">Delete</button>
        }
    }
</div>