@model IEnumerable<DebatePlatform.Models.Argument>

@{
    ViewData["Title"] = "Debatrix - Arguments";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Arguments</h2>
<ul>
    @foreach(var debate in Model)
    {
        <li>@Html.ActionLink(debate.Text, "Tree", new { id = debate.ArgumentId })</li>
    }
</ul>
@if (User.IsInRole("user") || User.IsInRole("admin"))
{
    <a href="/Arguments/Create/0">Add your own</a>
}