@model DebatePlatform.Models.Argument

@{
    ViewData["Title"] = "Debatrix - Edit Argument";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="white-page">
    <div id="buttons">
        <button id="edit-text-button">Edit Text</button>
        <button id="edit-affirmative-button">Switch to @(Model.IsAffirmative ? "Opposition" : "Support")</button>
        <button id="edit-deletion-button">Propose Deletion</button>
        <button id="edit-reparent-button">Re-Parent</button>
    </div>
    @using (Html.BeginForm())
    {
        <input id="delete" name="delete" type="hidden" value="False">
        <input id ="affirmative" name="affirmative" type="hidden" value=""/>
        <div id="edit-text" class="hidden">
            <label>Your Argument</label><br />
            <textarea id="text" name="text" maxlength="255"></textarea>
        </div>
        <br />
        <br />
        <div id="edit-form" class="hidden">
            <label>Why are you proposing this edit?</label><br />
            <textarea id="reason" name="reason" maxlength="255"></textarea>
            <br />
            <button type="submit">Save</button>
        </div>
    }
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script type="text/javascript">
        $("#buttons").click(function () {
            $("#edit-form").removeClass("hidden");
            $("#buttons").addClass("hidden");
        });
        $("#edit-text-button").click(function () {
            $("#edit-text").removeClass("hidden");
            $("#edit-text textarea").text("@Model.Text");
        });
        $("#edit-affirmative-button").click(function () {
            $("#affirmative").val( "@(!Model.IsAffirmative)" );
        });
        $("#edit-deletion-button").click(function () {
            $("#delete").val("True");
        });
    </script>
</div>