@using DebatePlatform.Helpers
@model DebatePlatform.Models.Argument

@{
    ViewData["Title"] = "Debatrix";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Text</h2>

@CustomHelpers.DisplayChildren(Model)
