@using DebatePlatform.Helpers
@model DebatePlatform.Models.Argument

@{
    ViewData["Title"] = "Debatrix - Model.Text";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Text</h2>
<a href="/Arguments/Create/@Model.ArgumentId">Respond</a>

@CustomHelpers.DisplayChildren(Model)

<hr />
<a href="/Arguments">Back</a>